### Importing packages

In [1]:
import numpy as ap
import pandas as pd
import matplotlib.pyplot as plt
import mpl_toolkits
%matplotlib inline

### Reading a csv file from a local file and storing the details in the variable data

In [2]:
data = pd.read_csv("C:/datasets/kc_house_data.csv")

Reading the data stored in data, head() function will list the first 5 from the csv file

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### Deleting columns from the dataset, (del variableName['columnName'] )

deleting columns that are not needed for the project i.e. sqft_living, waterfront

In [4]:
del data['id']

In [5]:
del data['date']

In [6]:
del data['sqft_lot']

In [7]:
del data['waterfront']

In [8]:
del data['sqft_above']
del data['sqft_basement']
del data['sqft_living15']

In [9]:
del data['sqft_lot15']

In [10]:
del data['view']

In [11]:
data.head()

,price,bedrooms,bathrooms,sqft_living,floors,condition,grade,yr_built,yr_renovated,zipcode,lat,long
0,221900,3,1.00,1180,1,3,7,1955,0,98178,47.5112,-122.257
1,538000,3,2.25,2570,2,3,7,1951,1991,98125,47.7210,-122.319
2,180000,2,1.00,770,1,3,6,1933,0,98028,47.7379,-122.233
3,604000,4,3.00,1960,1,5,7,1965,0,98136,47.5208,-122.393
4,510000,3,2.00,1680,1,3,8,1987,0,98074,47.6168,-122.045

In [12]:
data.head(10)

,price,bedrooms,bathrooms,sqft_living,floors,condition,grade,yr_built,yr_renovated,zipcode,lat,long
0,221900,3,1.00,1180,1,3,7,1955,0,98178,47.5112,-122.257
1,538000,3,2.25,2570,2,3,7,1951,1991,98125,47.7210,-122.319
2,180000,2,1.00,770,1,3,6,1933,0,98028,47.7379,-122.233
3,604000,4,3.00,1960,1,5,7,1965,0,98136,47.5208,-122.393
4,510000,3,2.00,1680,1,3,8,1987,0,98074,47.6168,-122.045
5,1225000,4,4.50,5420,1,3,11,2001,0,98053,47.6561,-122.005
6,257500,3,2.25,1715,2,3,7,1995,0,98003,47.3097,-122.327
7,291850,3,1.50,1060,1,3,7,1963,0,98198,47.4095,-122.315
8,229500,3,1.00,1780,1,3,7,1960,0,98146,47.5123,-122.337
9,323000,3,2.50,1890,2,3,7,2003,0,98038,47.3684,-122.031

### Converting a columns from a float to an int

In [13]:
import numpy as np

In [14]:
data1 = pd.DataFrame(data)

In [15]:
data1['bathrooms'] = data1.bathrooms.astype(int)

### Trial with random data and columns

In [16]:
import numpy as np
import pandas as pd
desired_price=['250,000','200,000','300,000','400,000']
actual_price=['200,000','300,000','400,000','350,000']
desired_location_lat=['47.5112','47.7346','47.6567','47.1124']
actual_location_lat=['47.5111','47.7346','47.3333','47.764']
desired_location_lon=['-122.333','-122.076','-122.543','-122.456']
actual_location_lon=['-122.334','-122.077','-122.333','-122.543']
desired_rooms=['3','2','4','1']
actual_rooms=['2','3','4','1']
ratings=['1','2','3','4']
for i in range(1,101):
    desired_location_lat.append(np.random.choice(desired_location_lat))
    actual_location_lat.append(np.random.choice(actual_location_lat))
    desired_location_lon.append(np.random.choice(desired_location_lon))
    actual_location_lon.append(np.random.choice(actual_location_lon))
    desired_price.append(np.random.choice(desired_price))
    actual_price.append(np.random.choice(actual_price))
    desired_rooms.append(np.random.choice(desired_rooms))
    actual_rooms.append(np.random.choice(actual_rooms))
    ratings.append(np.random.choice(ratings))
    
df=pd.DataFrame({'Desired latitude':desired_location_lat,'Actual latitude':actual_location_lat,
                 'Desired longitude':desired_location_lon,'Actual longitude':actual_location_lon,
                 'Desired price':desired_price,'Actual price':actual_price,
                 'Desired rooms':desired_rooms,'Actual rooms':actual_rooms,
                 'Ratings':ratings})
df.head()

,Actual latitude,Actual longitude,Actual price,Actual rooms,Desired latitude,Desired longitude,Desired price,Desired rooms,Ratings
0,47.5111,-122.334,"200,000",2,47.5112,-122.333,"250,000",3,1
1,47.7346,-122.077,"300,000",3,47.7346,-122.076,"200,000",2,2
2,47.3333,-122.333,"400,000",4,47.6567,-122.543,"300,000",4,3
3,47.764,-122.543,"350,000",1,47.1124,-122.456,"400,000",1,4
4,47.764,-122.334,"400,000",4,47.6567,-122.456,"250,000",1,4

In [17]:
import csv
import numpy as ap
import pandas as pd

data = pd.read_csv("C:/datasets/kc_house_data.csv")

bedroomMin = input("Please enter max number of bedrooms: ")
bedroomMax = input("Please enter min number of bedrooms: ")
floorsMin = input("Please enter min number of floors: ")
floorsMax = input("Please enter max number of floors: ")
yearBuiltMin = input("Please enter min year for house built: ")
yearBuiltMax = input("Please enter max year for house built: ")
priceMin = input("Please enter min price of house: ")
priceMax = input("Please enter max price of house: ")

#price = input("Please enter your desired price: ")
#bedrooms = input("Please enter your desired bedrooms: ")
#yearBuilt = input("Please enter your desired year built: ")

#def desiredInputs(price, bedrooms, yearBuilt):
    #if(price - price == 0 and bedrooms - bedrooms == 0 and yearBuilt - yearBuilt == 0):
        #desiredResults = 100
        #print('found')

with open("C:/datasets/kc_house_data.csv") as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        if(row['bedrooms'] >= bedroomMin and row['bedrooms'] <= bedroomMax and row['floors'] >= floorsMin 
           and row['floors'] <= floorsMax and row['yr_built'] >= yearBuiltMin and row['yr_built'] <= yearBuiltMax
           and row['price'] >= priceMin and row['price'] <= priceMax):
            
            
            
            print (row['price'], row['bedrooms'], row['floors'], row['yr_built'])
            
            
            #print row[1]
            #print ("we have a match".join(row))
            #print (" ".join(row))
            #print ("House price %d, number of bedrooms %d, number of floors %d, Year %d.") % (price, bedrooms, floors, yr_built)
            
        #else:
            #print ("We could not find a house")

Please enter max number of bedrooms: 4
Please enter min number of bedrooms: 3
Please enter min number of floors: 2
Please enter max number of floors: 2
Please enter min year for house built: 1940
Please enter max year for house built: 1990
Please enter min price of house: 350000
Please enter max price of house: 450000

In [18]:
import csv
import numpy as ap
import pandas as pd

d = pd.read_csv("C:/datasets/kc_house_data.csv")

In [19]:
d.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### Deleting columns

In [20]:
del d['date']

In [21]:
del d['sqft_living']

In [22]:
del d['sqft_lot']

In [23]:
del d['waterfront']

In [24]:
del d['view']

In [25]:
del d['condition']

In [26]:
del d['grade']

In [27]:
d.head()

,id,price,bedrooms,bathrooms,floors,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,221900,3,1.00,1,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,538000,3,2.25,2,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,180000,2,1.00,1,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,604000,4,3.00,1,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,510000,3,2.00,1,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [28]:
del d['sqft_above']

In [29]:
del d['sqft_basement']

In [30]:
del d['yr_built']

In [31]:
del d['yr_renovated']

In [32]:
d.head()

,id,price,bedrooms,bathrooms,floors,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,221900,3,1.00,1,98178,47.5112,-122.257,1340,5650
1,6414100192,538000,3,2.25,2,98125,47.7210,-122.319,1690,7639
2,5631500400,180000,2,1.00,1,98028,47.7379,-122.233,2720,8062
3,2487200875,604000,4,3.00,1,98136,47.5208,-122.393,1360,5000
4,1954400510,510000,3,2.00,1,98074,47.6168,-122.045,1800,7503

In [33]:
del d['sqft_living15']

In [34]:
del d['sqft_lot15']

In [35]:
d.head()

           id   price  bedrooms  bathrooms  floors  zipcode      lat     long
0  7129300520  221900         3       1.00       1    98178  47.5112 -122.257
1  6414100192  538000         3       2.25       2    98125  47.7210 -122.319
2  5631500400  180000         2       1.00       1    98028  47.7379 -122.233
3  2487200875  604000         4       3.00       1    98136  47.5208 -122.393
4  1954400510  510000         3       2.00       1    98074  47.6168 -122.045

In [36]:
del d['lat']

In [37]:
del d['long']

In [38]:
d.head()

           id   price  bedrooms  bathrooms  floors  zipcode
0  7129300520  221900         3       1.00       1    98178
1  6414100192  538000         3       2.25       2    98125
2  5631500400  180000         2       1.00       1    98028
3  2487200875  604000         4       3.00       1    98136
4  1954400510  510000         3       2.00       1    98074

In [39]:
d['bathrooms'] = d.bathrooms.astype(int)

In [40]:
d.head()

           id   price  bedrooms  bathrooms  floors  zipcode
0  7129300520  221900         3          1       1    98178
1  6414100192  538000         3          2       2    98125
2  5631500400  180000         2          1       1    98028
3  2487200875  604000         4          3       1    98136
4  1954400510  510000         3          2       1    98074

In [41]:
del d['id']

In [42]:
d.head()

    price  bedrooms  bathrooms  floors  zipcode
0  221900         3          1       1    98178
1  538000         3          2       2    98125
2  180000         2          1       1    98028
3  604000         4          3       1    98136
4  510000         3          2       1    98074

In [55]:
import csv

with open(d, "r") as f:
    reader = csv.reader(f)
    d = list(reader)
    
print(d)

TypeError: invalid file:          price  bedrooms  bathrooms  floors  zipcode
0       221900         3          1     1.0    98178
1       538000         3          2     2.0    98125
2       180000         2          1     1.0    98028
3       604000         4          3     1.0    98136
4       510000         3          2     1.0    98074
5      1225000         4          4     1.0    98053
6       257500         3          2     2.0    98003
7       291850         3          1     1.0    98198
8       229500         3          1     1.0    98146
9       323000         3          2     2.0    98038
10      662500         3          2     1.0    98007
11      468000         2          1     1.0    98115
12      310000         3          1     1.5    98028
13      400000         3          1     1.0    98074
14      530000         5          2     1.5    98107
15      650000         4          3     2.0    98126
16      395000         3          2     2.0    98019
17      485000         4          1     1.5    98103
18      189000         2          1     1.0    98002
19      230000         3          1     1.0    98003
20      385000         4          1     1.0    98133
21     2000000         3          2     1.0    98040
22      285000         5          2     2.0    98092
23      252700         2          1     1.0    98030
24      329000         3          2     2.0    98030
25      233000         3          2     1.5    98002
26      937000         3          1     2.0    98119
27      667000         3          1     1.5    98112
28      438000         3          1     1.0    98115
29      719000         4          2     2.0    98052
...        ...       ...        ...     ...      ...
21583   399950         2          1     2.0    98102
21584   380000         3          2     2.0    98116
21585   270000         3          2     2.0    98042
21586   505000         2          2     3.0    98107
21587   385000         3          2     3.0    98125
21588   414500         2          1     2.0    98117
21589   347500         3          2     2.0    98038
21590  1222500         4          3     1.5    98074
21591   572000         4          2     2.0    98178
21592   475000         3          2     3.0    98103
21593  1088000         5          3     2.0    98056
21594   350000         4          2     2.0    98042
21595   520000         2          2     3.0    98103
21596   679950         5          2     2.0    98059
21597  1575000         4          3     2.0    98040
21598   541800         4          2     2.0    98001
21599   810000         4          3     2.0    98053
21600  1537000         5          3     2.0    98004
21601   467000         3          2     3.0    98125
21602   224000         3          1     1.0    98010
21603   507250         3          2     2.0    98065
21604   429000         3          2     3.0    98144
21605   610685         4          2     2.0    98056
21606  1007500         4          3     2.0    98136
21607   475000         3          2     2.0    98116
21608   360000         3          2     3.0    98103
21609   400000         4          2     2.0    98146
21610   402101         2          0     2.0    98144
21611   400000         3          2     2.0    98027
21612   325000         2          0     2.0    98144

[21613 rows x 5 columns]

In [43]:
reader = csv.reader(d)
test_list = list(reader)

In [44]:
print(test_list)

[['price'], ['bedrooms'], ['bathrooms'], ['floors'], ['zipcode']]

In [52]:
# Importing packages
import numpy as np
import pandas as pd

# Creating lists of desired results
desired_price=['250,000','200,000','300,000','400,000']
desired_bedrooms=['3','2','4','1']
desired_bathrooms=['1','2','3','4']
desired_floors=['1','2','1','2']
desired_zipcode=['98177','98099','98111','98067']
#rating=[' ',' ',' ',' ']

# Setting random values from the lists
for i in range(1,101):
    desired_price.append(np.random.choice(desired_price))
    desired_bedrooms.append(np.random.choice(desired_bedrooms))
    desired_bathrooms.append(np.random.choice(desired_bathrooms))
    desired_floors.append(np.random.choice(desired_floors))
    desired_zipcode.append(np.random.choice(desired_zipcode))
    #rating.append(np.random.choice(rating))
    
# Creating calculation function


# Saving the results into a dataframe of random values
df=pd.DataFrame({'Desired Price':desired_price,'Desired Bedrooms':desired_bedrooms,
                 'Desired bathrooms':desired_bathrooms,'Desired Floors':desired_floors,
                 'Desired zipcode':desired_zipcode})

# Joining the two dataframes together
home_list = d.join(df)

#Adding csv file to a list
import csv

with open(home_list, "rb") as inputfile:
    reader = csv.reader(inputfile)
    inputm = list(reader)
    
print(inputm)

# Add CSV file to a list
#new_home_list = list(home_list)

#print(new_home_list)

TypeError: invalid file:          price  bedrooms  bathrooms  floors  zipcode Desired Bedrooms  \
0       221900         3          1     1.0    98178                3
1       538000         3          2     2.0    98125                2
2       180000         2          1     1.0    98028                4
3       604000         4          3     1.0    98136                1
4       510000         3          2     1.0    98074                3
5      1225000         4          4     1.0    98053                1
6       257500         3          2     2.0    98003                1
7       291850         3          1     1.0    98198                2
8       229500         3          1     1.0    98146                1
9       323000         3          2     2.0    98038                1
10      662500         3          2     1.0    98007                1
11      468000         2          1     1.0    98115                2
12      310000         3          1     1.5    98028                1
13      400000         3          1     1.0    98074                1
14      530000         5          2     1.5    98107                1
15      650000         4          3     2.0    98126                2
16      395000         3          2     2.0    98019                1
17      485000         4          1     1.5    98103                2
18      189000         2          1     1.0    98002                1
19      230000         3          1     1.0    98003                1
20      385000         4          1     1.0    98133                2
21     2000000         3          2     1.0    98040                3
22      285000         5          2     2.0    98092                1
23      252700         2          1     1.0    98030                1
24      329000         3          2     2.0    98030                1
25      233000         3          2     1.5    98002                3
26      937000         3          1     2.0    98119                1
27      667000         3          1     1.5    98112                1
28      438000         3          1     1.0    98115                1
29      719000         4          2     2.0    98052                1
...        ...       ...        ...     ...      ...              ...
21583   399950         2          1     2.0    98102              NaN
21584   380000         3          2     2.0    98116              NaN
21585   270000         3          2     2.0    98042              NaN
21586   505000         2          2     3.0    98107              NaN
21587   385000         3          2     3.0    98125              NaN
21588   414500         2          1     2.0    98117              NaN
21589   347500         3          2     2.0    98038              NaN
21590  1222500         4          3     1.5    98074              NaN
21591   572000         4          2     2.0    98178              NaN
21592   475000         3          2     3.0    98103              NaN
21593  1088000         5          3     2.0    98056              NaN
21594   350000         4          2     2.0    98042              NaN
21595   520000         2          2     3.0    98103              NaN
21596   679950         5          2     2.0    98059              NaN
21597  1575000         4          3     2.0    98040              NaN
21598   541800         4          2     2.0    98001              NaN
21599   810000         4          3     2.0    98053              NaN
21600  1537000         5          3     2.0    98004              NaN
21601   467000         3          2     3.0    98125              NaN
21602   224000         3          1     1.0    98010              NaN
21603   507250         3          2     2.0    98065              NaN
21604   429000         3          2     3.0    98144              NaN
21605   610685         4          2     2.0    98056              NaN
21606  1007500         4          3     2.0    98136              NaN
21607   475000         3          2     2.0    98116              NaN
21608   360000         3          2     3.0    98103              NaN
21609   400000         4          2     2.0    98146              NaN
21610   402101         2          0     2.0    98144              NaN
21611   400000         3          2     2.0    98027              NaN
21612   325000         2          0     2.0    98144              NaN

      Desired Floors Desired Price Desired bathrooms Desired zipcode
0                  1       250,000                 1           98177
1                  2       200,000                 2           98099
2                  1       300,000                 3           98111
3                  2       400,000                 4           98067
4                  2       300,000                 2           98111
5                  2       400,000                 3           98111
6                  2       300,000                 1           98177
7                  2       300,000                 2           98099
8                  2       400,000                 3           98111
9                  2       300,000                 1           98111
10                 2       300,000                 2           98099
11                 2       300,000                 2           98067
12                 2       300,000                 3           98067
13                 1       200,000                 3           98111
14                 2       400,000                 3           98067
15                 1       300,000                 3           98111
16                 2       400,000                 3           98099
17                 1       400,000                 3           98111
18                 1       400,000                 3           98099
19                 1       400,000                 3           98111
20                 2       300,000                 3           98111
21                 2       200,000                 3           98111
22                 1       300,000                 4           98099
23                 2       300,000                 3           98111
24                 1       300,000                 1           98099
25                 2       300,000                 4           98111
26                 2       400,000                 3           98111
27                 2       250,000                 1           98111
28                 2       300,000                 1           98099
29                 2       400,000                 3           98111
...              ...           ...               ...             ...
21583            NaN           NaN               NaN             NaN
21584            NaN           NaN               NaN             NaN
21585            NaN           NaN               NaN             NaN
21586            NaN           NaN               NaN             NaN
21587            NaN           NaN               NaN             NaN
21588            NaN           NaN               NaN             NaN
21589            NaN           NaN               NaN             NaN
21590            NaN           NaN               NaN             NaN
21591            NaN           NaN               NaN             NaN
21592            NaN           NaN               NaN             NaN
21593            NaN           NaN               NaN             NaN
21594            NaN           NaN               NaN             NaN
21595            NaN           NaN               NaN             NaN
21596            NaN           NaN               NaN             NaN
21597            NaN           NaN               NaN             NaN
21598            NaN           NaN               NaN             NaN
21599            NaN           NaN               NaN             NaN
21600            NaN           NaN               NaN             NaN
21601            NaN           NaN               NaN             NaN
21602            NaN           NaN               NaN             NaN
21603            NaN           NaN               NaN             NaN
21604            NaN           NaN               NaN             NaN
21605            NaN           NaN               NaN             NaN
21606            NaN           NaN               NaN             NaN
21607            NaN           NaN               NaN             NaN
21608            NaN           NaN               NaN             NaN
21609            NaN           NaN               NaN             NaN
21610            NaN           NaN               NaN             NaN
21611            NaN           NaN               NaN             NaN
21612            NaN           NaN               NaN             NaN

[21613 rows x 10 columns]

In [46]:
new_home_list[0]

'price'

In [47]:
new_home_list[5]

'Desired Bedrooms'

In [48]:
new_home_list[9]

'Desired zipcode'

In [49]:
print(new_home_list)

['price', 'bedrooms', 'bathrooms', 'floors', 'zipcode', 'Desired Bedrooms', 'Desired Floors', 'Desired Price', 'Desired bathrooms', 'Desired zipcode']

## Testing calculations

In [1]:
import numpy as np

# Creating a dummy list of house attributes
a = [520000, 2, 1, 1956]
b = [634000, 3, 2, 1987]
c = [550000, 2, 2, 1949]

# Create a list of lists
all_lists = [a,b,c]

#for element in all_lists:
#    print(element)

# Create user input
price = int(input("Please enter prefered price of apartment: "))
bedrooms = int(input("Please enter prefered number of bedrooms: "))
bathrooms = int(input("Please enter prefered number of bathrooms: "))
year = int(input("Please enter prefered floor to live on: "))

# Store user input into a list
d = [price,bedrooms,bathrooms,year]

results = []

total_price = 0
total_room = 0
total_bath = 0
total_year = 0

for i in all_lists:
    total_price = i[0] - d[0]
    total_room = i[1] - d[1]
    total_bath = i[2] - d[2]
    total_year = i[3] - d[3]
    
    results.append(total_price)
    results.append(total_room)
    results.append(total_bath)
    results.append(total_year)
    sum_results = sum(results)
    a.append(sum_results)
    
print('hi')
print(results)
print(sum_results)
print(a)
print('low')
    



#results = []

#for test in all_lists:
    
    # sum for different variables
    #total_price = 0
    #total_room = 0
    #total_bath = 0
    #total_year = 0
    
    #for measurment in test:
        #total_price = d[0] - measurment
        #total_room = d[1] - measurment
        #total_bath = d[2] - measurment
        #total_year = d[3] - measurment
        
    
    #results.append(total_price)
    #results.append(total_room)
    #results.append(total_bath)
    #results.append(total_year)
#print(results)
#print('wazzup')



# for loop to get calculation between user input and house attributes
#i = 0
k = 0
store_result = []
for i in range(len(a)):
    if i <= 3:
        result = np.subtract(a[i],d[i])
        store_result.append(result)
        i += 1
print(store_result)
final_result = sum(store_result)
print(final_result)

a.append(final_result)
print(a)

#######Testing looping through list of lists######################
#test_list = []
#for m in range(len(all_lists)):
#    if m <= len(all_lists):
 #       test_calc = np.subtract(a[m],d[m])
        
    

#n = 0
#for i in range(len(all_lists)):
    #d = a - d1 
    #print(d)
#for var in all_lists:
 #       for var1 in a:
#            print(a[0] - price)

print('hello')

#d = [price,bedrooms,bathrooms,floor]
#print(d)

res_price1 = a[0] - d[0]
res_room1 = a[1] - d[1]
res_bath1 = a[2] - d[2]
res_year1 = a[3] - d[3]

total_one = res_price1 + res_room1 + res_bath1 + res_year1

res_price2 = b[0] - d[0]
res_room2 = b[1] - d[1]
res_bath2 = b[2] - d[2]
res_year2 = b[3] - d[3]

total_two = res_price2 + res_room2 + res_bath2 + res_year2

res_price3 = c[0] - d[0]
res_room3 = c[1] - d[1]
res_bath3 = c[2] - d[2]
res_year3 = c[3] - d[3]

total_three = res_price3 + res_room3 + res_bath3 + res_year3


print(total_one)
print(total_two)
print(total_three)

Please enter prefered price of apartment: 500000
Please enter prefered number of bedrooms: 2
Please enter prefered number of bathrooms: 1
Please enter prefered floor to live on: 1960
hi
[20000, 0, 0, -4, 134000, 1, 1, 27, 50000, 0, 1, -11]
204015
[520000, 2, 1, 1956, 19996, 154025, 204015]
low
[20000, 0, 0, -4]
19996
[520000, 2, 1, 1956, 19996, 154025, 204015, 19996]
hello
19996
134029
49990